:root {
  --ff-body: 'Montserrat', sans-serif;
  --ff-second: 'Lora', serif;
  --ff-logo: 'PT Serif', serif;
  --clr-neutral-900: hsl(0 0% 0%);
  --clr-neutral-100: hsl(0 0% 100%);
  --clr-gray: #a9a9a9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  font-family: var(--ff-body);
  height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  margin-bottom: 150px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-neutral-100);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  color: var(--clr-neutral-100);
}

.nav-link:hover {
  font-weight: bold;
  border-bottom: 1px solid var(--clr-neutral-100);
  transition: 0.3s;
}

.nav-logo {
  font-family: var(--ff-logo);
  font-weight: 200;
  font-size: 1.4rem;
  line-height: 16px;
  color: var(--clr-neutral-100);

  text-transform: uppercase;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  padding: 1.5rem;
}

/* add the media queries */

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 10rem;
    flex-direction: column;
    background-color: var(--clr-neutral-900);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.interior-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.interior-content .interior-text h1 {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 61px;
}

.interior-content .interior-text p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 29px;
  margin-top: 4rem;
  margin-bottom: 4.8rem;
}

.interior-content .interior-text .btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.interior-content .interior-text .btn a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--clr-neutral-100);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.interior-content .interior-text .btn {
  font-size: 18px;
  margin-top: 0.5rem;
}

.interior-img {
  position: relative;
}

.card-profile {
  position: absolute;
  width: 410px;
  top: 385px;
  background: #181719;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  padding: 2rem;
  right: 50px;
}

.card-profile .card-image img {
  width: 50px;
  height: 50px;
  background: #c4c4c4;
  border-radius: 37px;
}

.card-profile .card-info h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.card-profile .card-info p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
}

.interior-img h3 {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;

  color: #ffffff;
}

.card-details {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #a9a9a9;
}

/* media queries */

@media (max-width: 375px) {
  .navbar {
    margin-bottom: 0;
  }
  .interior-content {
    flex-wrap: wrap;
  }
  .interior-content .interior-text h1 {
    font-size: 3.6rem;
  }

  .interior-content .interior-text p {
    font-size: 1.4rem;
  }

  .card-profile {
    right: 16px;
    width: 300px;
    top: 183px;
  }
}
